div{
    font-family: 'Montserrat', sans-serif;
    background-color: cornflowerblue;
    display: flex;
    align-items: center
    
}
h1{
    color: white;
    margin-inline: 100px;
}
img{
    height: 50px;
}
a{
    color: white;
    margin-left: 100px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    color: white;
}
.center-box{
    height: 150px;
    width: 550px;
    background-color: darkblue;
    justify-content: center;
}
.center-item{
    height: 50px;
    width: 50px;
    background-color:burlywood;
}